{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="col-6 mx-auto text-center">
           <h3> Bienvenue ! {{ app.user.username }}</h3>
            Welcome to my DDD experiment
        </div>
        <div class="col-6 mx-auto mt-5">
            <a href="{{ path('security_login') }}" class="btn btn-block btn-success rounded-0 my-2">{{ 'login.login' |trans(domain= 'login') }}</a>
        </div>
        <div class="col-6 mx-auto">
            <a href="{{ path('security_registration') }}" class="btn btn-block btn-primary rounded-0 my-2">{{ 'registration.registration' |trans(domain= 'registration') }}</a>
        </div>
    </div>

{% endblock %}