{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">

        {% if error %}
            {{ dump(error) }}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="col-6 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-block btn-primary rounded-0">{{ 'login.login'|trans(domain = 'login') }}</button>
            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}